[submodule "FMOD"]
	path = FMOD
	url = https://github.com/Casey-Hofland/ADarkFairytaleAudio.git
[submodule "Packages/NamingValidator"]
	path = Packages/NamingValidator
	url = https://github.com/Casey-Hofland/NamingValidator.git
[submodule "Packages/UnityExtras"]
	path = Packages/UnityExtras
	url = https://github.com/Casey-Hofland/UnityExtras.git
